/* font */
@font-face {
  font-family: 'Brand';
  /* 字体名称，可以自定义 */
  src: url('./fonts/Brand.ttf')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  background-color: #15181E;
  color: #F2E8CF;
}

.section {
  height: 982px;
  overflow: hidden;
  text-align: center;
  display: block;
  margin: auto;
}

.scrollSection {
  height: 500px;
  text-align: center;
  margin: auto;
}

.head {
  text-align: center;
  font-family: Brand;
}

/* 1. prima pagina */
.bigtitle {
  /* background-color: #fff; */
  height: 300px;
}

/* .earth {
  background-color: cadetblue;
} */

.earth img {
  scale: 2;
  position: relative;
  top: 300px;
}


h1 {
  flex-shrink: 0;
  font-size: 200px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 300px */
  letter-spacing: -4.6px;

}

/* 2. seconda pagina */

.firstTitle {
  font-family: Brand;
}

.future {
  position: fixed;
  top: 160px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75.794px;
  font-style: normal;
  font-weight: 400;
  /* 113.691px */
  letter-spacing: -1.743px;
  opacity: 0;
}


.everyThing {
  position: fixed;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 37.897px;
  font-style: normal;
  font-weight: 400;
  /* 56.845px */
  letter-spacing: -0.872px;
  opacity: 0;
}

.text-slider {
  opacity: 0;
  cursor: pointer;
  display: block;
  position: fixed;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  /* background-color: #fff; */
  height: 300px;
  width: 700px;
  line-height: 300px;
  border: 2px solid #F2E8CF;
  border-radius: 20px;

}

.text-slider span {
  /* background-color: #fff; */
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: normal;
  display: inline-block;
  width: 500px;
  transform: translate(-50%, -50%);
  transition: all .2s;
}

.svgContainer {
  position: fixed;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.svgContainer text {
  font-family: helvetica;
}

.svgContainer .name {
  font-size: 9px;
}

.svgContainer .years {
  font-family: Brand;
  font-size: 25px;
}

.visible {
  opacity: 1;
  transition: all 1s;
  /* 添加透明度的过渡效果 */
}